node_modules
.next
out
build
*.log
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
uploads/*
!uploads/.gitkeep
public/uploads/properties/*
!public/uploads/properties/.gitkeep
"next-env.d.ts" 
"package-lock.json" 
